In [3]:
name ="Akanksha Srivastava"

In [4]:
city ="lucknow"

In [5]:
x=10
y=20

In [6]:
first_name="akanksha"

In [7]:
a=10

In [8]:
a = "Apple"

In [9]:
a=3.145

In [10]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [11]:
a=True

In [12]:
a=None

In [13]:
x = 10
y = 3

In [14]:
print(x+y)# addition 
print(x-y)# substraction
print(x*y)# multiplication

13
7
30

In [15]:
x,y= 120,50
print(x/y) # division(float)
print(x//y) # division(integer)
print(x%y) # division (remainder)

2.4
2
20

In [16]:
print(x>5)
print(y>10)
print(x>=y)
print(x<=y)
print(x== 120)
print(x!=120)

True
True
True
False
True
False

In [17]:
10>5 and 10<20

True

In [18]:
"green"=="green"or "blue"=="blue"

True

In [19]:
not 100

False

In [20]:
not 0

True

In [22]:
x=[1,2,3]
print(x)
y=x 
x is y

[1, 2, 3]

True

In [23]:
z=x.copy()
z is x

False

In [24]:
z is not x

True

In [25]:
fruits=["apple ","banana","mango","dates"]

In [27]:
"dates"in fruits

True

In [29]:
"pineapple" in fruits

False

In [32]:
"plum " not in fruits

True

In [ ]:
x=input("enter city")