In [1]:
# getting a slice
s ="digipodium"
slice1 = s[4:7]
print (slice1)

pod

In [5]:
s ="digipodium"
slice1 = s[0:4]
slice2= s[:4]
slice3=s[4:]
print (slice1)
print (slice2)
print (slice3)

digi
digi
podium

In [8]:
s = "Akanksha Srivastava"
slice1= s[:9]
slice2= s[9:]
print(slice1)
print(slice2)

Akanksha
Srivastava

In [11]:
#string reverse - with slice
s = "Akanksha Srivastava"
s[::-1]

'avatsavirS ahsknakA'

In [12]:
# even characters of a string
s[::2]

'Aakh rvsaa'

In [14]:
#odd characters of a string 
s[1::2]

'knsaSiatv'

In [16]:
s[::-1][:10][::-1]

'Srivastava'

In [17]:
data = "59.30%"
float(data[:-1])

59.3

In [20]:
value ="$910293"
int(value[1:-1])

91029

In [21]:
x= chr(65)
print(x)
x = chr(2365)
print(x)
x=chr (123456)
print(x)

A
à¤½
ðž‰€

In [22]:
y = ord("A")
print(y)
y = ord("a")
print(y)
print(ord("?"))
print(ord("a"))

65
97
63
97

In [23]:
a="apple"
b= "mango"
c=a+b
print(c)

applemango

In [24]:
a1= "this"
a2= "is"
a3= "amazing"
a4= a1+ " ",a2+" ",a3+" "
print(a4)

('this ', 'is ', 'amazing ')

In [25]:
word = "hi"
print (word * 3)

hihihi

In [1]:
# Strings methods
x = "alpha" #x. is mthod 
# formatting methods
upper()
lower()
capitalized()
title()
swapcase()

NameError: name 'upper' is not defined

In [2]:
msg = "Journey before destination"

In [3]:
msg.upper()

'JOURNEY BEFORE DESTINATION'

In [4]:
msg.lower()

'journey before destination'

In [5]:
print(msg)

Journey before destination

In [6]:
msgc =msg.capitalize()

In [7]:
msgc

'Journey before destination'

In [8]:
msg.swapcase()

'jOURNEY BEFORE DESTINATION'

In [9]:
msg.title()

'Journey Before Destination'

In [10]:
msg.casefold() # lower casefold casese are same

'journey before destination'

In [11]:
# String utility methods
    - strip()
    -count()
    -split()
    -join()
    -find()
    -replace()
    -startswith()
    -endswith()

IndentationError: unexpected indent (2186010081.py, line 2)

In [12]:
name = input (" Enter your name :")
print(name)
print(len(name))

Akanksha
8

In [13]:
clean_name = name.strip()
print(clean_name,len(clean_name))

Akanksha 8

In [14]:
data ="abdcdajkhbajsfladfkjhdaakjlajkd"
data.count("a")

7

In [15]:
data.count("a") + data.count("A")

7

In [16]:
data = "Once upon a time there was a hero, who saved the world one day he went to sleep. the end"

In [17]:
data.count("the")

3

In [18]:
len(data)

88

In [28]:
data.split()
print(data,len(data))

Once upon a time there was a hero, who saved the world one day he went to sleep. the end 88

In [24]:
data.split( ",")

['Once upon a time there was a hero',
 ' who saved the world one day he went to sleep. the end']

In [25]:
data.split("e")

['Onc',
 ' upon a tim',
 ' th',
 'r',
 ' was a h',
 'ro, who sav',
 'd th',
 ' world on',
 ' day h',
 ' w',
 'nt to sl',
 '',
 'p. th',
 ' ',
 'nd']

In [26]:
print(data)

Once upon a time there was a hero, who saved the world one day he went to sleep. the end

In [27]:
data.splitlines()

['Once upon a time there was a hero, who saved the world one day he went to sleep. the end']

In [29]:
address_parts = [
    "Ashok vihar 356/340/767",
    "Rajajipuram",
    "Lucknow",
    "226017" 
    ]

In [30]:
print(address_parts)

['Ashok vihar 356/340/767', 'Rajajipuram', 'Lucknow', '226017']

In [31]:
" ".join(address_parts)

'Ashok vihar 356/340/767 Rajajipuram Lucknow 226017'

In [32]:
"".join(address_parts)

'Ashok vihar 356/340/767RajajipuramLucknow226017'

In [33]:
", ".join(address_parts)

'Ashok vihar 356/340/767, Rajajipuram, Lucknow, 226017'

In [35]:
print("\n ".join(address_parts))

Ashok vihar 356/340/767
 Rajajipuram
 Lucknow
 226017